@layer {
  .hero-image {
    height: 300px;
    background-repeat: no-repeat;
  }

  .hero-btn {
    border: none;
    background: var(--red-500);
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    .hero-image {
      background-image: url("./src/assets/images/image-web-3-mobile.jpg");
      min-width: 343px;
      max-width: 608px;
    }
  }
}
