@font-face {
  font-family: "Inter-Regular";
  src: url("./src/assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0px;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./src/assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("./src/assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

#root {
  --white: hsl(0 100% 100%);
  --black: hsl(0 0% 0%);
  --grey-200: hsl(0 0% 85%);
  --grey-300: hsl(233 8% 79%);
  --navy-600: hsl(236 13% 42%);
  --navy-950: hsl(240 100% 5%);
  --gold-400: hsl(35 77% 62%);
  --red-500: hsl(4 85% 63%);

  --spacing-100: 8px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-800: 64px;
  --spacing-1100: 88px;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@layer base {
  html {
    font-family: "Inter-Regular", sans-serif;
  }

  body {
    background: var(--white);
  }
}
